@charset "UTF-8";
/*
portofolio.html
*/

.portfolio-wrapper {
  padding-top: 100px;
  max-width: 1920px;
  margin: 0 auto;
}

.portfolio-wrapper h1 {
  font-size: 4.5rem;
}

.portfolio-page-title {
  padding-left: 40px;
  margin-bottom: 50px;
}

.portfolio-wrapper .container {
  width: 100%;
  padding: 0;
  margin: 0;
}

.portfolio-row {
  margin: 0 10px;
}

.portfolio-col {
  width: 100%;
  height: 360px;
  border: 1px solid black;
}

.portfolio-col .caption {
  font-size: 3rem;
}


@media (max-width: 768px) {

  .navigation-container {
    padding: 10px 10px 0 10px;
    display: block;
  }
  .navigation-inner .nav-item a {
    font-size: 1.7rem;
  }

  .icon-twitter {
    font-size: 1.5rem;
  }
}

@media (max-width: 415px) {
  .navigation-inner {
    display: none;
  }
  .inner {
    margin: 0 20px;
  }

  .logo {
    padding-top: 20px;
  }

  .navigation-logo-intys {
    width: 60px;
    height: 30px;
  }

  .drawer {
    display: block;
  }
}