@charset "UTF-8";

/*index 以外のページのheader*/
.navigation-container {
  background: linear-gradient(rgba(118, 205, 205, 0.5), rgba(2, 117, 117, 0.5));
  padding: 20px 20px 0 20px;
  margin-right: 10px;
  position: fixed;
  z-index: 100;
  width: 100%;
  box-shadow: 0 1px rgba(0, 0, 0, .4);
}

.drawer {
  display: none;
}